
html {
  min-width: 400px;
  padding: 10px;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(240, 240, 240);
  padding-left: 130px;
}

.title {
  font-size: 35px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.p2 {
  color: black;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 0px;
  padding-left: 50px;
  font-weight: bold;
}

.p3 {
  color: rgb(100, 100, 100);
  font-size: 13px;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 65px;
  max-width: 600px;
}

.p3a {
  color: black;
  font-size: 13px;
  text-decoration: none;
}

.p3a:hover {
  color: rgb(100, 100, 100);
  font-size: 13px;
  text-decoration: none;
}

.intro-para {
  color: rgb(100, 100, 100);
  font-size: 13px;
  padding-top: 5px;
  padding-left: 40px;
  padding-right: 30px;
  max-width: 600px;
}

.topic {
  font-size: 30px;
  padding-left: 30px;
  padding-right: 10px;
  color: rgb(50, 50, 50);
}

li {
  padding-left: 60px;
  color: rgb(100, 100, 100);
  font-size: 13px;
  padding-bottom: 8px;
}

#navbar {
  height: 100%;
  width: 120px;
  position: fixed;
  z-index: 1;
  top: 10px;
  left: 10px;
  background-color: darkgray;
  overflow-x: hidden;
  padding-top: 15px;
  text-align: center;
}

.nav-link {
  text-align: center;
  color: black;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.xptable, .xptr, .goldtable, .goldtr, .costtable, .costtr, .costth, .onecosttd, .twocosttd, .threecosttd, .fourcosttd, .fivecosttd {
  border: 2px solid;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-left: 85px;
}

.xptr:hover {
  background-color: rgb(100, 100, 100);
}

.goldtr:hover {
  background-color: goldenrod;
}

.xptr, .goldtr {
  background-color: white;
}

.bold {
  font-weight: bold;
}

.carousel {
  background-color: lightgreen;
}

.pve {
  background-color: lightblue;
}

.pvp {
  background-color: lightcoral;
}

.stagetr, .empty {
  background-color: white;
}

.stagetable, .stagetr, .empty, .carousel, .pve, .pvp {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: center;
}

.stagetable, .stagetr {
  border: 2px solid;
}

.round, .empty, .carousel, .pve, .pvp {
  border: 1px solid;
}

.costth, .onecosttr, .twocosttr, .threecosttr, .fourcosttr, .fivecosttr {
  background-color: white;
}

.onecosttr:hover {
  background-color: rgb(100, 100, 100);
}

.twocosttr:hover {
  background-color: lightgreen;
}

.threecosttr:hover {
  background-color: lightblue;
}

.fourcosttr:hover {
  background-color: mediumpurple;
}

.fivecosttr:hover {
  background-color: goldenrod;
}