body {
    font-family: Verdana, Tahoma, sans-serif;
    padding-top: 60px;
    background-color: rgb(248, 248, 248);
  }
  
  #navbar {
    overflow: hidden;
    background-color: lightblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .nav-link {
    float: left;
    display: block;
    color: rgb(30, 30, 30);
    text-align: center;
    padding: 10px 0px;
    width: 33.33%;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-link:hover {
    background-color: rgb(30, 30, 30);
    color: lightblue;
  }
  
  @media screen and (max-width:400px) {
    .nav-link {
      float: none;
      display: block;
      width: 100%;
      text-align: center;
    }
    body {
      padding-top: 120px;
    }
  }
  
  .intro {
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }
  
  .projects {
    text-align: center;
    font-size: 22px;
    padding-bottom: 5px;
  }

  .tile-holder {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  
  .tile-holder-mini {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
  }

  /*.project-tile {
    background-color: aqua;
  } display the project tile boundaries.*/

  .project-header {
    display:flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    color: slategray;
    text-decoration: none;
  }

  .project-header:hover {
    color: lightblue
  }

  .img-size {
    padding-top: 10px;
    width: 150px;
    height: 150px;
  }
  
  #profile {
    overflow: hidden;
    background-color: lightblue;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  #profile-link {
    float: left;
    display: block;
    color: rgb(30, 30, 30);
    text-align: center;
    padding: 6px 0px;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
  }
  
  #profile-link:hover {
    background-color: rgb(30, 30, 30);
    color: lightblue;
  }

  .project-type {
    text-align: center;
    padding-bottom: 20px;
    font-family: Verdana, Tahoma, sans-serif;
    color: slategray;
  }

  .project-type-a {
    text-align: center;
    padding-bottom: 20px;
    font-family: Verdana, Tahoma, sans-serif;
    color: slategray;
  }

  .project-type-a:hover {
    color: black;
  }

  #web-design, #graphic-design {
    scroll-margin-top: 45px;
  }

  .about-header {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
    padding-left: 25px;
    padding-top: 30px;
  }

  .about-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding-left: 35px;
    padding-right: 50px;
  }