body {
  background-color: rgb(40, 40, 43);
  color: rgb(140, 140, 155);
}

.title {
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
  padding-bottom: 0;
}

.description {
  font-family: Times, serif;
  text-align: center;
  font-size: 18px;
  position: relative;
  bottom: 10px;
}

.link {
  color: rgb(200, 200, 220);
  text-decoration: none;
}

.link:visited {
  color: rgb(70, 70, 80);
}

.link:hover {
  color: rgb(140, 140, 155);
}

fieldset {
  background-color: rgb(80, 80, 90);
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 2px solid black;
  width: 500px;
  margin: auto;
}

#submit {
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgb(80, 80, 90);
  border: 2px solid black;
}

#submit:hover {
  color: white;
  background-color: rgb(100, 100, 115);
  cursor: pointer;
}

.submit-holder {
  text-align: center;
  padding: 5px;
}

#name-label, #email-label, #number-label, #option-label, #question {
  display: flex;
  justify-content: center;
  padding: 9px;
}

.inline-label {
  display: flex;
  justify-content: center;
}
